.content {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dialog {
    padding: 64px;
}

.connectButton {
    width: 100%;
}

.title {
    text-align: center;
}
