.iconButton {
  padding: 10px !important;
  margin: 0 !important;
  min-width: unset !important;
  border-radius: 5px !important;
};

.topLeft {
  position: absolute !important;
  top: 10px !important;
  left: 0 !important;
}

.topRight {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
}